
.left-nav li {
     margin-top:15px;
     font-size: 20px;

}
.footer{
width: 100%;
text-align: center;
background: rgba(61, 128, 54, 0.486);
position:absolute;
bottom:0;
}

.middle{
    
    width: 50%;
    float: right;
    position: absolute;
    margin-left:400px;
    margin-top:100px;
}
.articles img{
    width: 20%;
    float: left;
    margin-right:20px;
    
}
.articles li{
    list-style: none;
    margin-bottom: 50px;
    
}
.articles a{
    margin-left:100px;
    display: block;
}
.left-menu-register{
float:left;
padding-right: 80%;
margin-top:80px;
margin-left:20px;
}
#tabs{
    float:left;
    margin-top:70px;
}
#tabs img{
    float:left;
    width:10%;
    margin-right:20px;
}
#googleMap{
float:left;
width:50%;
margin-left:20px;
}

#job-window{
    float:right;
    height: 300px;
    width: 500px;
    border: 1px solid rgb(148, 148, 148);
    margin: 10px 0px;
    margin-top: 30px;
    padding: 10px;
    overflow: auto;

    .job-message {
        border-bottom: 1px solid #ccc;
    }
    .job-message h4 {
        font-size: 26px;
    }
    .job-message h4 em {
        color: #ccc;
        font-size: 16px;
        margin-left: 5px;
    }